.pkg filter=lfs diff=lfs merge=lfs -text
.exe filter=lfs diff=lfs merge=lfs -text
/dist/BobAI filter=lfs diff=lfs merge=lfs -text
build/run_Bob/BobAI.pkg filter=lfs diff=lfs merge=lfs -text
build/run_Bob/Bob[[:space:]]AI.pkg filter=lfs diff=lfs merge=lfs -text
build/run_Bob/run_Bob.pkg filter=lfs diff=lfs merge=lfs -text
dist/Bob[[:space:]]AI filter=lfs diff=lfs merge=lfs -text
